pdfplumber 
pandas 
openpyxl 
pillow 
PyPDF2 
pymupdf

langchain_google_genai

faiss-cpu 
sentence-transformers 
open-clip-torch 
torch 
pillow
transformers
accelerate 
torchvision

matplotlib
streamlit

langchain
langchain_huggingface
ragas
deepeval

chromadb 
redis
plotly

langchain
langchain-chroma
langchain-community

pysqlite3-binary
